.mainHeader {
  height: 100px;
  width: 100%;
  background-color: #2F2D2E;
  padding: 0;
  border-top: 3px solid grey;
  display: flex;
  align-items: center;
}

.adminLogin {
  float: right
}

.slideshow {
  width: 100%;
  height: 500px;
  border: 1px solid white;
  margin: 0 auto;
}

.logo {
  width: 100px;
  height: 100px;
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 1.5px solid white;
  line-height: 30px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  left: 15px;
  top: 15px;
}

.mainTitle {
  font-size: 35px;
  padding-left: 15px;
  margin: 0;
  color: white;
}

.mainText {
  color: #55D672;
  width: 25%;
  margin-bottom: 30px;
  padding-bottom: 12px;
  border-bottom: 3px solid black;

}

.parallax {
    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-top:40px;
}
.parallax h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 75px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.parallax-1 {
    background-image: url("http://img.photobucket.com/albums/v313/Spider-Man9x17/AvengersFanFicTeamRoof7.jpg");
}
.container {
    width: 85%;
    min-height: 575px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
}

.content {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.content img {
  box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.content ul {
  list-style: circle;
  margin-bottom: 30px;
}

.content ul li {
  margin: 10px 0;
}

.content h2 {
  margin-top: 50px;
}

.card {
  width: 300px;
  height: 300px;
  margin: 20px;
  text-align: left;
  box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all .2s ease-in-out 0s;
  background-size: 100%;
  position: relative;
  border-radius: 5px;
}

.drInfoBox {
  background-color: #2D2E2A;
  visibility: hidden;
  opacity: 0;
  height: 0px;
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: all .4s ease-in-out;
  border-radius: 5px;
}

.drBio {
  background-color: #2D2E2A;
  height: 0px;
  opacity: 0;
  width: 40px;
  margin-right: 15px;
  color: white;
  font-size: 22px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all .4s ease-in-out;
  display: flex;
  justify-content: center;
}

.drBio a {
  color: white;
}

.drBio a:hover {
  color: #447EAC;
}

.drBio:hover {
  color: #447EAC;
  opacity: .9;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.drName {
  padding-left: 5px;
  margin-top: 3px;
  color: white;
}

.drInfo {
  color: white;
  padding-left: 10px;
  margin-top: 5px;
  font-size: 18px;
}

.descriptionText {
  font-size: .7em;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card:hover .drInfoBox {
  display: block;
  visibility: visible;
  height: 80px;
  opacity: .8;
}

.card:hover .drBio {
  visibility: visible;
  height: 35px;
  opacity: .8;
}

.img:hover {
    border-radius: 15px;
}

.group {
    position:relative;
    margin: 0 auto;
    margin-bottom:45px;
    display: flex;
    justify-content: center;
}

.footer {
  height: 90px;
  width: 100%;
  background-color: #2F2D2E;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
}

.missionText {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 10px;
  margin-bottom: 40px;
  color: black;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input {
    font-size:18px;
    padding:10px 10px 10px 5px;
    width:300px;
    height: 40px;
    display: block;
    border:none;
    border-bottom:1px solid #042029;
    background-color: #819090;
    margin-top: 30px;
    color: #D11C24;
}
input:focus {
    outline:none;
    border-bottom-color: #D11C24;
}

/* LABEL ======================================= */
label 				 {
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:relative;
    pointer-events:none;
    right: 316px;
    top:40px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
    top:15px;
    font-size:14px;
    color:#D11C24;
}

#map {
  height: 350px;
  width: 500px;
  border: 2px solid black;
  margin: 40px 40px;
  position: absolute;
  left: 0;
}

/* BIO SECTION ======================================= */

.bio {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.bioDescription {
  float: right;
  width: 50%;
}

.bioDescription p {
  font-size: 20px;
}

.bio img {
  border-radius: 10px;
  height: 400px;
  width: 400px;
}
