<div class="content">
  <h1 class="mainText">Our Model</h1>
  <h2>Injury Model</h2>
  <h4>Integrative / Multi-disciplinary</h4>

  <ul>
    <li>At Align, we are a primary structural care center. We are chiropractic physicians, but when you come visit us, you open yourself up to all the options available in structural health care.</li>
    <li>Over many years we have assembled an elite team of structural health care providers.</li>
    <li> When you present for care, your injuries or condition are worked up to see if you are a good chiropractic candidate or if another discipline will best optimize your outcome. If your case is best treated with chiropractic care, we will treat you. When you may be more optimally treated by a different discipline, we refer you accordingly.</li>
  </ul>

  <img src="img/figure_01.jpg" />

  <h3>Outcome-Based</h3>
  <ul>
    <li>Common conditions/injuries respond to care in expected time frames. The goal is to optimize the functional integrity of the healing process. We thereby minimize any propensity for recurrence of problems in the injured area in the future! If you, as the patient, are “out of normal response,” this is recognized and further diagnostics/referral is made. Our intent is to minimize the amount of treatment needed to facilitate your desired outcome.</li>
  </ul>
  <p style="border-bottom: 1px solid black"></p>

  <h2>Wellness Model</h2>

  <p>Once we have helped you heal from the injuries/symptoms that brought you to us and you recognize the functional health benefits and how much better you feel as a result of “<strong>mechanically correct</strong>” joint care you may choose to utilize periodic wellness/preventive based care. Much like your dental check-ups, to prevent problems with your teeth, you can get adjusted periodically to prevent problems with your spine. (The difference being you can’t replace your spine.)</p>
            <p>Adjustments, when administered in a “<strong>mechanically correct</strong>” manner, improve how you function and, when coupled with other pro-active strategies we employ (like functional rehab and at-home stretching), optimize your function and get you further away from symptoms manifesting in the first place.</p>
            <p>Whether you are the athlete looking to enhance your performance or are like the rest of us, just looking to feel good and prevent problems, this model of care is extremely beneficial. Here we are looking for individuals interested in being “high functioning.”</p>
            <p style="text-align: center">I have a couple of sayings:</p>
            <p style="text-align: center"><strong>“As the twig is bent, so grows the tree.”</strong></p>
            <p style="text-align: center"><strong>“With optimal functional capacity, <br />
              we add life to our years and years to our life.”            </strong></p>
            <p style="text-align: center"><strong>A common frequency recommended for maintenance care is 1 (one) time a month.</strong></p>
            <p style="text-align: center"><strong>Functional Optimization = Performance Enhancement</strong></p>
<p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p></td>





</div>
